/.vscode

/vwii/app_booter/build
/vwii/build

/wiiu/build
/wiiu/payload
/wiiu/arm_kernel/build
/wiiu/arm_kernel/arm_kernel_bin.h
/wiiu/arm_user/build
/wiiu/arm_user/arm_user_bin.h
/wiiu/wupserver/build
/wiiu/wupserver/wupserver_bin.h

*.bin
*.elf
*.rpx
*.dol
